.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  min-height: 50px;
  padding: 5px 10px;
  width: 100%;

  cursor: pointer;
  border-radius: 10px;
  background-color: #8458b3;

  &:hover {
    background-color: #57327e;
  }

  .title {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}
